<footer>
    <ul>
        <li><a href="/">Startseite</a></li>

        <li><a href="/impressum">Impressum</a></li>
        <li><a href="../dishes/crud">CRUD</a></li>
        <li>
            <form action="../dishes" method="GET">
                <div class="search-form">
                    <input type="text" name="search" placeholder="Suchen..." class="search-field">

                </div>
                <div class="search-form">
                    <input type="submit" value="Search">
                </div>
            </form>
        </li>
        <li>

        </li>
    </ul>
</footer>