<% include ./partials/header %>
    <main>

        <div class="container dishes">


            <div class="dishes">
                <div class="dish-container">
                    <ul class="list-group" id="display">


                    </ul>

                </div>

            </div>
            <br>


        </div>

    </main>

    <% include ./partials/footer %>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script>
            $(document).ready(() => {
                const display = $("#display");


                const getdishes = (req, res) => {
                    fetch('/searchdish', {
                        method: "get"
                    }).then((response) => {
                        return response.json();
                    }).then((data) => {
                        console.log(data);
                        displayDishes(data);
                    });
                }
                getdishes();





                const buildIDS = (dish) => {
                    return {
                        listItemID: "listItem_" + dish._id,
                        dishID: "dish_" + dish._id
                    }
                }



                const buildTemplate = (dish, ids) => {
                    return `<li class = "list-group-item" id ="${ids.listItemID}"> 
                        <div class="dish">
                    <img class="image-dish" src="img/${dish.Name}.jpg">
                    <div class="dish-body">
                    <h4 class = "btn" id = "${ids.dishID}"> ${dish.Name} </h4>  
                    <h4 class = "btn" id = "${dish.preis}"> ${dish.preis} </h4>  
                    </div> </div>
                    </li>`;
                }

                const displayDishes = (data) => {
                    data.forEach((dish) => {
                        let ids = buildIDS(dish);
                        display.append(buildTemplate(dish, ids));


                    });
                }

            });
        </script>